body {
     display: block;
     margin: 0 auto;
     background-color: hsl(212, 45%, 89%);
     width: 50vw;
     height: 50vh;
}

img {
    width: 350px;
    height: 350px;
    border-radius: 25px;
}


.content {
    text-align: center;
    margin: 50px auto;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 25px;
    width: 350px;
    height: 600px;
    padding: 30px;
    background-color: hsl(0, 0%, 100%);;
}

.attribution {
    margin-top: 20%;
}

h2 {
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
}

p {
    color: hsl(220, 15%, 55%);
    font-size:  15px;
    font-family: 'Outfit', sans-serif;
}